  h1{
    color: blue;
  }
  p{
    color: darkmagenta;
  }
  button{
    color: darkgoldenrod;
    background-color: greenyellow;
  } 
  body{
    background-color: black;
  }   
  .myclass{
     color: rgb(218, 14, 14);

  }
  #box{
    background-color: blue;
  }
  p{
    text-align: centern ;
  }